@model Application.Dtos.SensorResponse
@{
    var cardBgColor = string.Empty;
    if(Model.LatestReading == null)
        cardBgColor = "#ffc107";
    else if (Model.LatestReadingIsOld())
        cardBgColor = "#f8d7da";
    else
        cardBgColor = "#d4edda";
}

@if(Model.LatestReading == null)
{
<div class="card" style="height: 10rem; width: 20rem; margin: 10px; padding: 1px; background-color: @cardBgColor;">
    <a asp-page="./Sensors/Details" asp-route-sensorId="@Model.Id" class="card-link text-decoration-none">
        <div class="card-body text-center">
            <h3 class="card-title">@Model.Name</h3>
                <p>No readings yet</p>
        </div>
    </a>
</div>
}
else if(Model.LatestReading != null)
{
<div class="card" style="height: 18rem; width: 20rem; margin: 10px; padding: 1px; background-color: @cardBgColor">
    <a asp-page="./Sensors/Details" asp-route-sensorId="@Model.Id" class="card-link text-decoration-none">
        <div class="card-body text-center">
            <h3 class="card-title">@Model.Name</h3>
            @if (Model.LatestReading == null)
            {
                <p>No readings yet</p>
            }
            else
            {
                @if (Model.Style.ToLower() == "gauge")
                {
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="gauge" aria-valuenow="@Model.GetLatestReadingPercent()" aria-valuemin="@Model.MinReading" aria-valuemax="@Model.MaxReading"
                            style="width: 200px; --rotation:@Model.GetLatestReadingPercentRotation()deg; --color:#0d6efd; --background:#e9ecef;">
                            <div class="percentage"></div>
                            <div class="mask" style="background-color: var(--card-bg-color);"></div>
                        </div>
                    </div>
                    <h5 class="card-title p-3">@Model.LatestReading.Value @Model.Measurement</h5>
                    <p class="card-text">@Model.LatestReading.Created</p>
                }
                else if(Model.Style.ToLower() == "bar")
                {
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div title="Min: @Model.MinReading, Max: @Model.MaxReading" class="progress vertical">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.GetLatestReadingPercent()" aria-valuemin="@Model.MinReading" aria-valuemax="@Model.MaxReading"
                                style="height: @Model.GetLatestReadingPercent()%">
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title p-3">@Model.LatestReading.Value @Model.Measurement</h5>
                    <p class="card-text">@Model.LatestReading.Created</p>
                }
            }
        </div>
    </a>
</div>
}