@model Application.Dtos.SensorResponse


<div class="card" style="--card-bg-color: @(Model.LatestReading != null && Model.LatestReading.IsValid ? (Model.LatestReadingIsOld() ? "#f8d7da" : "#d4edda") : "#ffc107"); width: 18rem; margin: 10px; background-color: var(--card-bg-color);">
    <a asp-page="./Sensors/Details" asp-route-sensorId="@Model.Id" class="card-link text-decoration-none">
        <div class="card-body text-center">
            <h3 class="card-title">@Model.Name</h3>
            @if (Model.LatestReading == null)
            {
                <p>No readings yet</p>
            }
            else
            {
                if (Model.Style.ToLower() == "gauge")
                {
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="gauge"
                            style="width: 200px; --rotation:@Model.GetLatestReadingPercentRotation()deg; --color:#0d6efd; --background:#e9ecef;">
                            <div class="percentage"></div>
                            <div class="mask" style="background-color: var(--card-bg-color);"></div>
                        </div>
                    </div>
                    <h5 class="card-title p-3">@Model.LatestReading.Value @Model.Measurement</h5>
                    <p class="card-text">@Model.LatestReading.Created</p>
                }
                else
                {
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div title="Min: @Model.MinReading, Max: @Model.MaxReading" class="progress vertical">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.GetLatestReadingPercent()"
                                aria-valuemin="@Model.MinReading" aria-valuemax="@Model.MaxReading"
                                style="height: @Model.GetLatestReadingPercent()%">
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title p-3">@Model.LatestReading.Value @Model.Measurement</h5>
                    <p class="card-text">@Model.LatestReading.Created</p>
                }
            }
        </div>
    </a>
</div>


<style>
    a.card-link {
        color: inherit;
        /* Inherit the color from the parent element or make it whatever color you want */
        text-decoration: none;
    }

    a.card-link:hover {
        color: inherit;
        /* Inherit the color from the parent on hover or make it whatever color you want */
        text-decoration: none;
    }
</style>