@page
@model DetailsModel
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="sensor-info-container" id="sensorName">
    <h5 class="display-5 ">@Model.Sensor.Name</h5>
</div>
<div class="sensor-data-container" id="sensorData", style="display: none;">
    <p>MQTT-topic: @Model.Sensor.MqttTopic</p>
    <p>Min verdi: @Model.Sensor.MinReading</p>
    <p>Max verdi: @Model.Sensor.MaxReading</p>
    <p>Måleenhet: @Model.Sensor.Measurement</p>
    <a asp-page="./Details" asp-page-handler="Download" asp-route-sensorId="@Model.Sensor.Id" class="btn btn-primary text-decoration-none">Download sensor-data</a>
</div>


@if (@Model.Readings != null && @Model.Readings.Data != null && @Model.Readings.Data.Any())
{
    @await Html.PartialAsync("~/Pages/Shared/Partials/_SensorChart.cshtml", Model);
}
else
{
    <div class="sensor-info-container">
        <p>Ingen data tilgjengelig</p>
    </div>
}


<style>
    .chart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        height: 60vh;
    }

    .sensor-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    .sensor-data-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }
</style>

<script>
    document.getElementById("sensorName").addEventListener("click", function () {
        var sensorDataDiv = document.getElementById("sensorData");
        if (sensorDataDiv.style.display === "none") {
            sensorDataDiv.style.display = "flex";
        } else {
            sensorDataDiv.style.display = "none";
        }
    });
</script>